.jumbotron{
    text-align: center;
    padding:70px 30px 70px 30px;
    margin: 0px auto;
    z-index: 1;
    
}

body{
    align-content:center;  
    background-image:url("2.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
   font-size: 15px;
   font-weight: bolder;

    
}

.footer {
    margin: 0px auto;
    background-color: #004D40;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

hr{
    width: 200%;
    color: #004D40;
}

.content{
    margin: 0px auto;
}
